
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --blue:#24a0ed;
    font-family: Roboto,sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 16rem 3fr;
    grid-template-rows:13rem  2fr ;
    
}

.header {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;   
}

.sidebar {
    grid-row: 1/3;   
}

.sidebar .menu {
    padding: 30px;
    font-size: 20px;    
}

.sidebar .user-service{
    padding: 30px;
    font-size: 20px;
}

.sidebar li{
    padding-top: 20px;
}

.main-content-container{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 0.6fr;   
}

.main-content-container .your-project{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));   
}

.main-content-container .notification-panel{
    grid-column: 2/3;    
}

.header {
    box-shadow: 0px 29px 14px -32px rgba(0,0,0,0.45);
    padding: 30px;
}

.search span{
    vertical-align: middle;
}

.search input{
    width: 80%;
    background-color: rgba(216, 227, 243, 0.658);
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
}

.header .user-panel {
    display: grid;
    justify-content: space-evenly;
    grid-auto-flow: column;
}

.header .profile{
    display: flex;  
}

.person {
    background-color: rgb(208, 236, 48);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 35px;
    text-align: center;
    padding-top: 8px;
}

.profile .person{
    background-color: rgb(208, 236, 48);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 60px;
    text-align: center;
    margin-right: 20px;
}

.header .buttons {
    margin-left: 5rem;
}

.header button{  
    background-color: var(--blue);
    width: 6rem;
    height: 40px;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 20px;
    margin: 8px;
    border: 1px solid white
}

.sidebar {
    background-color: var(--blue);
    color: white;
    font-weight: bold;  
}

.sidebar .heading{
    display: flex;
    justify-content: center;
    padding-right: 2rem;
    align-items: center;
}

.sidebar .heading span{
    font-size: 3rem;
}

.sidebar ul{
    list-style: none; 
}

.sidebar span {
    vertical-align: middle;
    padding-right: 10px;
}

.main-content-container{
    background-color:rgba(216, 227, 243, 0.658) ;   
}

.main-content-container .project{   
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border-left: 5px solid rgb(221, 191, 17);
    margin: 20px;   
}

.main-content-container .items{
    display: flex;  
    justify-content: end; 
    gap:2rem;
    margin-top: 2rem;
}

.main-content-container h2{   
    margin: 20px 0 0 20px;
}

.announcements, .trending{
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 15px;
}
.announcements-list {
    padding: 25px;
}
.announcements hr{
    margin: 0 25px;
}

.notification-panel .trending>div{
    display: flex; 
    padding: 15px;
}
.notification-panel .trending .bio {
    padding-left: 20px;
}
p{
    color:rgb(99, 98, 98)
}

